# Ignore game binaries
game/*/bin/*.dll
game/*/bin/*.pdb
game/*/bin/*.map

# Ignore solution and modern project files
.vs/
Backup/
Backup*/
Debug/
Debug*/
Release/
Release*/
*.sln
*.vcxproj.user
UpgradeLog*.htm

# Ignore common CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Ignore private tools, not intended for public use *yet*
private/
hardclean.bat
hardclean.sh